body{
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    
    flex: 1;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}

.header{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    
   
}

.container0{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    padding: 32px;

}

.container1{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.container1 .title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.container1 .text{
    color: #E5E7EB;
    font-size: 24px;
    margin-bottom: 8px;
}

.container1 button{
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #3882f6;
    border-radius: 8px;
    padding: 8px 20px;
}

.placeholder{
    width: 700px;
    background-color: #E5E7EB;
}

.subcontainer1{
    width: 1000px;
    display: flex;
    gap: 32px ;
    padding: 82px;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2 .title{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 32px;
    margin-bottom: 16px;
}

.container2 .text{
    font-size: 24px;
    font-weight: lighter;
}

.subcontainer2{
    display: flex;
    justify-content: center;
    gap :32px;
    width: 1000px;
    padding: 82px;
}

.image{
    display: flex;
    flex-direction: column;
}

.square {
  width: 200px;            
  height: 200px;           
  background-color: #F9FAF8; 
  border: 3px solid #3882f6;   
  border-radius: 10px;
}


.container3{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    
}

.subcontainer3{
    display: flex;
    width: 1000px;
    padding: 82px;
    
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.source{
    align-self: flex-end;
    font-weight: bold;
}

.container4 button{
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 8px;
    padding: 0 20px;
    
}

.container4 .subcontainer4{
    background-color: #3882f6;
    color: #F9FAF8;
}

.container4 .title{
    font-weight: 900;

}

.container4 .text{
    color: #E5E7EB;
}

.container4{
    display: flex;
    justify-content: center;
   
}

.subcontainer4{
    display: flex;
    width: 1000px;
    justify-content: space-around;
    padding: 32px;
    margin: 82px 0;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

