body{
    font-family: Roboto, sans-serif;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.container1{
    display: flex;
    background-color: #1F2937;
}

.container1 .title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.container1 .text{
    color: #E5E7EB;
    font-size: 24px;
}

.container1 button{
    background-color: #3882f6;
    color: #F9FAF8;
}

